<p>
	<strong> Title:</strong>
	<%= @articulo.title %>
</p>

<p>
	<strong> Text: </strong>
	<%= @articulo.text %>
</p>

<h2>Comments</h2>
<%= render @articulo.comments %>

<h2>Add comment:</h>

<%= render 'comments/form' %>

<%= link_to 'back', articles_path %> |
<%= link_to 'update', edit_article_path(@articulo) %>